<div id="<%= dom_id transaction %>">
  <p>
    <strong>Credit account:</strong>
    <%= transaction.credit_account %>
  </p>

  <p>
    <strong>Debit account:</strong>
    <%= transaction.debit_account %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

</div>
